.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ceab4a;
  padding: 60px;
  min-height: 100%;
  width: 100%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.wrap-btn {
  display: flex;
}

.btnChange {
  width: 100px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  border: 2px solid rgba(143, 140, 140, 0.8);
  background-color: rgba(190, 189, 189, 0.3);
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.btnChange:hover {
  color: white;
  background-color: #424039;
}

.profile {
  width: 300px;
  height: 350px;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(209, 208, 208, 0.4);
  border: solid 1px rgb(168, 168, 165);
  border-radius: 8px;
  margin: 20px;
  caret-color: transparent;
}

.image {
  width: 200px;
  height: 200px;
}

.image img {
  width: 200px;
  height: 200px;
}

.profile p {
  display: inline;
  padding: 2px;
  margin-bottom: 8px;
}

.profile div {
  margin-bottom: 6px;
}

.profile form input {
  padding: 4px;
  background-color: rgba(212, 212, 212, 0.3);
  border-radius: 8px;
  border: solid 2px rgba(172, 169, 169, 0.8);
  text-decoration: none;
  font-size: 16px;
  caret-color: currentColor;
}

.profile form p {
  font-size: 16px;
  margin-right: 4px;
}

.finishedOrder {
  font-size: 24px;
  margin: 20px 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 781px) {
  .wrap {
    flex-direction: column;
    padding: 60px 0px;
  }

  .profile {
    width: 90%;
    height: 400px;
  }

  .profile form input {
    margin-top: 4px;
  }
}
