@media (width <= 1600px) {

    .header {
        padding: 0 140px;
    }

    .header .list {
        gap: 20px;
        margin-left: 20px;
    }

    .header .right-section-header .search input {
        width: 210px;
    }

    .header .right-section-header .search {
        width: 210px;
    }

    .all-sections.sections ul li a {
        display: inline-block;
        justify-content: center;
    }

}

@media (width <= 1350px) {

    .header .right-section-header .search {
        display: none;
    }

    .focus-item .item-carousel .next{
        right: 0px;
        top: 50%;
        padding: 10px;
        width: auto;
    }

    .focus-item .item-carousel .prev{
        top: 50%;
        left: 0;
        padding: 10px;
        width: auto;
    }

    .focus-item .info-item .buy {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    
    .focus-item .info-item .buy .count {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .focus-item .info-item .buy .count .form-count .currentCount{
        width: 100%;
        text-align: center;
    }
    
    .focus-item .info-item .buy .count .form-count {
        width: 100%;
        background-color: white;
        padding: 6px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    
    .focus-item .info-item .buy .decrement,
    .increment {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: #F2F2F2;
        border: none;
        cursor: pointer;
        transition: color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
    }
    
    
    .focus-item .info-item .buy .decrement,
    .increment p {
        font-size: 20px;
    }
    
    .focus-item .info-item .buy .count .form-count p {
        padding: 0 4px;
    }

    
    
    .focus-item .info-item .buy .count .buy-button {
        width: 100%;
    }
    
    
    .focus-item .info-item .buy .count .favorite {
        width: 100%;
    }
    
    
    .fast-delivery {
        font-weight: 700;
    }
    
    .form-delivery {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .form-delivery .order {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }
    
    .form-delivery .order .orderBtn {
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
    
    .form-delivery input {
        height: 100%;
        width: 100%;
        padding: 12px;
        border-radius: 6px;
        border: 1px solid #E6E6E6;
        caret-color: black;
        outline-color: #0db8af;
    }
}

@media (width <= 1120px) {

    .header {
        padding: 0 70px;
    }

    /* main */
    

    .all-sections {
        padding: 0 70px;
    }

    /* carousel */



    .carousel {
        padding: 0;
        margin:0 70px;
    }



    /* footer */


.footer .footer-top {
    padding: 0 70px;
    padding-top: 80px;
}


.footer .footer-bottom {
    padding: 0 70px;
}
  }

  /* mobile */

@media (width <= 1000px) {

    .header {
        padding: 0 10px;
    }

    .header .list {
        gap: 20px;
        margin: 0;
        display: block;
    }

    .header .right-section-header {
        margin: 0;
        margin-left: auto;
    }

    .header .list a {
        display: none;
    }

    header .navbar {
        display: none;
    }

    .header .right-section-header .search {
        display: none;
    }

    .header .right-section-header .profile {
        display: none;
    }

    .header .right-section-header .shop p {
        display: none;
    }

    .header .right-section-header .shop {
        padding: 9px;
    }

    header .toggle-btn{
        display: block;
        padding: 12px;
        margin-left: 8px;
    }

    .dropdown-menu {
        display: block;
    }

    /* main */

    
    .all-sections {
        padding: 0 20px;
    }

    /* carousel */



    .carousel {
        padding: 0;
        margin:0 20px;
    }


    .sections {
        display: none;
    }

    .path {
        margin: 20px 0;
    }

    .path p {
        display: inline;
        margin: 0;
    }

    /* item carousel */

    .focus-item {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .focus-item .item-carousel {
        width: 100%;
    }

    .focus-item .item-carousel .prev,
    .focus-item .item-carousel .next {
        display: none;
    }

    .focus-item .info-item {
        width: 100%;
    }

    .focus-item .info-item h1 {
        font-size: 36px;
        margin: 10px 0;
        line-height: 40px;
    }

    
    .focus-item .info-item .buy {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    
    .focus-item .info-item .buy .count {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .focus-item .info-item .buy .count div {
        width: 100%;
    }

    /*  */

    .focus-item .info-item .buy .count .form-count .currentCount{
        width: 100%;
        text-align: center;
    }
    
    .focus-item .info-item .buy .count .form-count {
        width: 100%;
        background-color: white;
        padding: 6px;
        border-radius: 20px;
        display: flex;
        align-items: start;
        font-size: 16px;
    }
    
    .focus-item .info-item .buy .decrement,
    .increment {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: #F2F2F2;
        border: none;
        cursor: pointer;
        transition: color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
    }
    
    
    .focus-item .info-item .buy .decrement,
    .increment p {
        font-size: 20px;
    }
    
    .focus-item .info-item .buy .count .form-count p {
        padding: 0 4px;
    }

    
    
    .focus-item .info-item .buy .count .buy-button {
        width: 100%;
    }
    
    
    .focus-item .info-item .buy .count .favorite {
        width: 100%;
    }
    
    
    .fast-delivery {
        font-weight: 700;
    }
    
    .form-delivery {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .form-delivery .order {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }
    
    .form-delivery .order .orderBtn {
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
    
    .form-delivery input {
        height: 100%;
        width: 100%;
        padding: 12px;
        border-radius: 6px;
        border: 1px solid #E6E6E6;
        caret-color: black;
        outline-color: #0db8af;
    }

    /* carousel */

.carousel {
    margin-bottom: 40px;
    overflow: hidden;
}

.first-carousel-header,
.second-carousel-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 40px;
}

.first-carousel-header h2,
span,
.second-carousel-header h2,
span {
    font-size: 24px;
}

.carousel .first-carousel-header span {
    color: #099D95;
}

.carousel .second-carousel-header h2 {
    color: #099D95;
}

.carousel .second-carousel-header span {
    color: black;
}

.carousel .first-carousel-header .buttons,
.carousel .second-carousel-header .buttons {
    margin-left: auto;
}

.carousel .first-carousel-header .buttons button img,
.carousel .second-carousel-header .buttons button img {
    height: 20px;
}

.carousel .first-carousel-header .buttons button,
.carousel .second-carousel-header .buttons button
{
    border: 1px solid #E6E6E6;
    background-color: white;
    border-radius: 100%;
    width: 45px;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
    transition: border .5s ease-in-out;

}

.carousel .first-carousel-header .buttons button:hover ,
.carousel .second-carousel-header .buttons button:hover
{
    border: 1px solid #099D95;
    background-color: #099D95;
}

.carousel .first-carousel-header .buttons button img ,
.carousel .second-carousel-header .buttons button img
{
    transition: filter .1s ease-in-out;
}

.carousel .first-carousel-header .buttons button:hover img ,
.carousel .second-carousel-header .buttons button:hover img
{
    filter: invert(0);
    filter: brightness(0) saturate(100%) invert(100%) sepia(23%) saturate(2%) hue-rotate(182deg) brightness(103%) contrast(98%)
}

.carousel .all-items {
    display: flex;
    gap: 14px;
    position: relative;

}

.carousel .all-items:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, transparent, #FAFAFA);
    content: "";
    z-index: 2;
  }

.carousel .all-items .item-card {
    background-color: white;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.carousel .all-items .item-card img {
    background-color: white;
    padding: 24px;
}

.carousel .all-items .item-card .name {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.carousel .all-items .item-card p {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
}

.carousel .all-items .item-card .price {
    font-size: 24px;
    font-weight: 900;
    line-height: 21px;
    color: #F1690E;
}

.carousel .all-items .item-card a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #099D95;
}

.carousel .first-carousel-header .buttons button,
.carousel .second-carousel-header .buttons button
{
    display: none;

}


.section-characteristics {
    margin-bottom: 30px;
    margin-top: 30px;
}


    /* footer */


.footer .footer-top {
    padding: 0;
    flex-direction: column;
    gap: 40px;
    height: auto;
    padding-top: 40px;
}

.footer .footer-top .contacts {
    width: 100%;
    padding-bottom: 20px;
}

.footer .footer-top .contacts .logo {
    display: block;
    margin: 0 auto;
}

.footer .footer-top .contacts .place,
.footer .footer-top .contacts .post,
.footer .footer-top .contacts .phone {
    margin: 20px 20px 0 20px;
    
}

.footer .footer-top .useful {
    display: none;
}


.footer .footer-bottom {
    padding: 0 20px;
}

.footer .footer-top .contacts .responsive-menu {
    display: block;
}

.phone-contact .phone-numbers{
    display: none;
}

  }