
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.image {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: auto;
}

li , a , button {
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: wheat;
   
}
ul {
    padding-right: 350px;
    
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
    color: teal;
    background-color: gray;
}

.nav_links {
    list-style: none;
   
}

.nav_links li{
    display: inline-block;
    padding: 0px 40px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

button {
    padding: 9px 25px;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

/*footer*/

footer {
    margin-top: 750px;
    width: 100%;
    padding: 70px 15%;
    background-color: gray;
    color: black;
    display: flex;
    text-align: center;
    overflow: hidden;
}
.col2 {
    flex-grow: 2;
}

footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col1 a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}
form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
